.texting
{
    color:red;
}
.mahe
{
    color:blue;
}
.coloring
{
    font-size: large;
    color:pink;
}
.textcolor
{
    color:red;
}
.no{
    color:blue;
}
.isrequire
{
    color:red;
}
.hey
{
    color:aquamarine;
}