<p>eventbinding works!</p>
<button class="btn btn-info "(click)="onclick()">click me</button><br>
<button class="btn btn-success" (dblclick)="onDblclick()">doubleclick</button><br>
<button class="btn btn-danger" (mouseover)="onmouseover()">mouseover</button><br>
<button class="btn btn-dark" (mouseout)="onMouseout()">mouseout</button><br>
<button class="btn btn-primary" (mousemove)="onMousemove()">mousemove</button><br>
<input type="text" value="key down" (keydown)="kDown()">
<input type="text" value="key up" (keyup)="kUp()">